
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}
  
thead,
tfoot {
    background-color: rgb(228 240 245);
}
  
th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}
  
td:last-of-type {
    text-align: center;
}
  
tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}
  
tfoot th {
    text-align: right;
}
  
tfoot td {
    font-weight: bold;
}

.inline {
    display: inline-block;
    margin: 0;
}
.pages .box {
    border: 7px solid darkblue;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 22px;   
}

.col{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
.pages .col{
    width: 29%;
    height: 439px; 
    padding: 5px;
    margin-left: 50px;
    margin-top: 50px;
}
p,
li {
  font:
    1rem 'Fira Sans',
    sans-serif;
}

p {
  font-weight: bold;
}
img { 
    max-width: 100%; 
    height: auto; 
}